<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%include ./partials/head%>
  </head>

  <body class="body2">
  <%include ./partials/artistProfileHeader%>

  <section class="main">
  <section class="artist">
  <img class="prof" src="<%= artist.img %>" alt="">
  <h1 class="name"><%= artist.name%></h1>
</section>
<section class="about">
  <span>About:</span>
  <p><%= artist.bio%></p>
</section>
<section class="galler">
  <h2>Gallery:</h2>
  <% for (let i = 0; i < products.length; i++){ %>
      <section class="gal"><a href="/product?id=<%= products[i]._id %>"><img src="<%= products[i].img %>"></img></a></section>
  <% } %>
</section>
</section>
<footer> <%include ./partials/footer%></footer>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
