<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <%include ./partials/head%>
  </head>
  <body>
    <header>
      <%include ./partials/header%>
    </header>
    <section class="container">
      <section class="hero">

      </section>
      <section class="featured">
        <section class="feat-span"><a href=/artistCollection> <span>Featured Artists</span></a></section>
        <section class="feat feat1"><a href="/artist?id=<%= users[users.length-3]._id %>"><img src="<%= users[users.length-3].img %>" alt=""> </a></section>
        <section class="feat feat2"><a href="/artist?id=<%= users[users.length-2]._id %>"><img src="<%= users[users.length-2].img %>" alt=""> </a></section>
        <section class="feat feat3"><a href="/artist?id=<%= users[users.length-1]._id %>"><img src="<%= users[users.length-1].img %>" alt=""> </a></section>
      </section>
      <section class="release">
        <section class="real-span"><a href=/productCollection><span>New Releases</span></a></section>
        <section class="real real1"><a href="/product?id=<%= products[products.length-3]._id %>"><img class="prod-img" src="<%= products[products.length-3].img %>" alt=""> </a></section>
        <section class="real real2"><a href="/product?id=<%= products[products.length-2]._id %>"><img class="prod-img" src="<%= products[products.length-2].img %>" alt=""> </a></section>
        <section class="real real3"><a href="/product?id=<%= products[products.length-1]._id %>"><img class="prod-img" src="<%= products[products.length-1].img %>" alt=""> </a></section>
      </section>
    </section>
    <footer> <%include ./partials/footer%></footer>

  <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
