<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%include ./partials/head%>
</head>

<body class="prodpage">
  <%include ./partials/header%>
  <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
  <% } %>
  <section class="wrapper">
    <section class="product">
      <img class="prod-img" src="<%= product.img %>" alt="">
      <span><%= product.name %></span>
    </section>
    <section class="details">
      <h2><%= product.name %></h2>
      <span><strong>By: <a href="/artist?id=<%=artist._id %>"><%= artist.name %></a></strong></span>
      <p><strong>Details:</strong> <%= product.description %></p>
      <p><strong>Price: </strong><%= product.price %></p>

      <form action="/stripePostTest" method="POST">
        <input type="hidden" name="productId" value="<%= product._id %>">
        <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= publishableKey %>"
        data-amount="<%= product.price*100 %>"
        data-name="Demo Site"
        data-description="<%= product.id %>"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto">
        </script>
      </form>

    </section>
    <section class="related">
      <section class="related-products">Related Products</section>
      <section class="prod1"></section>
      <section class="prod1"></section>
      <section class="prod1"></section>
      <section class="prod1"></section>
    </section>
  </section>
  <%include ./partials/footer%>
  <script type="text/javascript" src="js/main.js"></script>
    <% if (disable) { %>
      <script type="text/javascript">
      document.getElementsByClassName("stripe-button-el")[0].disabled=true;
      </script>

        <% } %>
</body>
</html>
